table{
    width: 97%;
    margin-left: 20px;
    margin-top: 10px;
}

.btn-position{
    margin-top: 20px;
    margin-left: 20px;
}

.json-data{
    font-size: x-large;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
}

.employee-tab-title{
    text-align: center;
    font-size: x-large;
    margin-top: 5px;
}

.no-records-msg{
    text-align: center;
    font-size: large;
    margin-top: 10px;
    font-weight: 400;
}